:root {
  scroll-behavior: smooth;
}

.App {
  text-align: center;
  background-color: #282c34;
  color: white;
  padding-bottom: 48px;
}

.inputs {
  display: flex;
  justify-content: space-evenly;
}

.input-label {
  padding-right: 8px;
}

.additional-info {
  display: flex;
  justify-content: space-evenly;
  margin: 50px 0;
}

.bottom-link {
  color: white;
  font-size: 16px;
  text-decoration: none;
  font-weight: 700;
  border-radius: 20px;
  border: 1px solid white;
  padding: 4px 20px;
  transition: all 0.2s ease-in-out;
  transform: translateX(0px);
}

.bottom-link:hover {
  border: 4px solid white;
  transition: all 0.2s ease-in-out;
  transform: translateX(10px);
}

.top-link {
  color: white;
  font-size: 16px;
  text-decoration: none;
  font-weight: 700;
  border-radius: 20px;
  border: 1px solid white;
  padding: 4px 20px;
  transition: all 0.2s ease-in-out;
  transform: translateX(0px);
}

.top-link:hover {
  border: 4px solid white;
  transition: all 0.2s ease-in-out;
  transform: translateX(10px);
}

.installments {
  margin-top: 48px;
  margin-bottom: 48px;
  display: flex;
  justify-content: center;
}

.installments__header {
  font-size: 24px;
  padding: 2px 20px;
}

.installments__data {
  font-size: 18px;
  padding: 2px 16px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
